 body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.container {
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: rgb(255, 255, 255);
}
.fa-compass{
    color: #fe244d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links , .f-info-socials{
    width: 100%;
}

.f-info-links a:hover {
    text-decoration: underline;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color:#ebebeb ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
} 

.f-info-socials i{ 
    margin-right: 1rem;
    font-size: 1.3rem;
}
.f-info-socials , .f-info-brand { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* cards */ 
.card-image-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-body{
    padding: 0rem !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;

}

/* card effect */
.card-img-overlay{
    opacity: 0;
} 
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new create  Page */
.add-btn {
    border: none !important;
    background-color: #fe244d !important;
}

/* Edit page */
.edit-btn{
    border: none !important;
    background-color: #fe244d !important;
}

/* show page */

.show-img{
    height: 30vh;
}
.btns{
    display: flex;

}
.show-card {
    padding-left: 0;
    padding-right: 0;
}